@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Hide scrollbar */
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(
    to right,
    #f6f7f8 4%,
    #edeef1 25%,
    #f6f7f8 36%
  );
  background-size: 1000px 100%;
}

.dark .animate-shimmer {
  background: linear-gradient(
    to right,
    #1f2937 4%,
    #374151 25%,
    #1f2937 36%
  );
  background-size: 1000px 100%;
}
